.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1px;
    margin: 2vh;

    img {
        width: 9vh;
    }

    .movie-title {
        font-weight: 400;
        font-size: large;
    }
  
  .item-poster {
    grid-column: span 2;
    grid-row: span 3;
  }

  .item-title {
    grid-column: span 4;
    grid-row: span 1;
  }
  
  .release-info {
    grid-column: span 4;
    grid-row: span 1;
    p {
        text-align: center;
    }
  }
  
  .button-action {
    grid-column: span 2;
    button {
      cursor: pointer;
    }
  }
  
  p {
    text-align: justify;
    word-wrap: break-word;
  }
}